<footer class="mt-auto pb-5 bg-white">
    <h5 class="m-0 text-center"> © Bookzone - All Rights Reserved</h5>

    <!-- Privacy Policy -->
    <div class="m-0 text-center policy">
        <a href="https://www.termsfeed.com/live/1cd7ed1a-2804-4eb4-86d3-d25fd9b7526a" target="_blank" rel="noopener"
            aria-label="View our Privacy Policy" style="margin-right: 10px;">
            Privacy Policy
        </a>
    </div>
    <!-- Social networks -->
    <p class="m-0 text-center">Follow us:</p>
    <div class="text-center">
        <a href="https://www.facebook.com/profile.php?id=61556879194186" target="_blank" rel="noopener"
            aria-label="Link to facebook page"><i class="fab fa-facebook-square fa-lg ms-3 "></i></a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener" aria-label="Link to twitter page"><i
                class="fab fa-twitter-square fa-lg ms-3"></i></a>
        <a href="https://www.instagram.com" target="_blank" rel="noopener" aria-label="Link to instagram page"><i
                class="fab fa-instagram-square fa-lg ms-3"></i></a>
        <a href="https://www.youtube.com" target="_blank" rel="noopener" aria-label="Link to youtube page"><i
                class="fab fa-youtube-square fa-lg ms-3"></i></a>
    </div>

</footer>