<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="" class="dropdown-item">Crime Fiction</a>
                <a href="" class="dropdown-item">Cult Fiction</a>
                <a href="" class="dropdown-item">Science Fiction &amp; Fantasy</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="" class="dropdown-item">Gardening</a>
                <a href="" class="dropdown-item">History</a>
                <a href="" class="dropdown-item">Language</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="childrens-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Children's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="childrens-link">
                <a href="" class="dropdown-item">Picture Books</a>
                <a href="" class="dropdown-item">Early Reader</a>
                <a href="" class="dropdown-item">Board Books</a>
            </div>
        </li>
    </ul>
</div>