<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-books-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-books-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'books' %}" class="dropdown-item">All Books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fiction-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fiction-link">
                <a href="{% url 'books' %}?category=crime_fiction" class="dropdown-item">Crime Fiction</a>
                <a href="{% url 'books' %}?category=cult_fiction" class="dropdown-item">Cult Fiction</a>
                <a href="{% url 'books' %}?category=science_fiction" class="dropdown-item">Science Fiction &amp;
                    Fantasy</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Non-fiction
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="{% url 'books' %}?category=gardening" class="dropdown-item">Gardening</a>
                <a href="{% url 'books' %}?category=history" class="dropdown-item">History</a>
                <a href="{% url 'books' %}?category=language" class="dropdown-item">Language</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Children's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="{% url 'books' %}?category=picture_books" class="dropdown-item">Picture books</a>
                <a href="{% url 'books' %}?category=early_reader" class="dropdown-item">Early Reader</a>
                <a href="{% url 'books' %}?category=board_books" class="dropdown-item">Board books</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="non-fiction-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mistery Boxes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="non-fiction-link">
                <a href="{% url 'books' %}?category=mistery_box_cult_fiction" class="dropdown-item">Cult Fiction Box</a>
                <a href="{% url 'books' %}?category=mistery_box_mothers_day" class="dropdown-item">Mother's Day Box</a>
                <a href="{% url 'books' %}?category=mistery_box_young_adult" class="dropdown-item">Young adult Box</a>
            </div>
        </li>
    </ul>
</div>