<!-- Extend the base.html structure-->
{% extends 'base.html' %}

<!-- Loading static files -->
{% load static %}

<!-- Define the content block to include -->
{% block content %}
<!-- Header contaniner-->
<div class="container header-container">
    <div class="row">
        <!-- Placeholder column for layout -->
        <div class="col"></div>
    </div>
</div>

<!-- Container for the main content -->
<div class="container h-100">
    <div class="row h-100">
        <!-- Column fto display the error -->
        <div class="col-7 col-md-6 my-auto">
            <h2 class="display-4 logo-font text-black">
                Oops! 404 error
            </h2>
            <h2 class="display-4 logo-font text-black">
                The page you are looking for isn't available
            </h2>
            <div class="my-5">
                <h3>
                    <!-- Link to go back -->
                    <a href="{% url 'books' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Find your book now
                    </a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}