{% extends "base.html" %}
{% load static %}

<!-- HEADER -->
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<!-- MAIN CONTENT -->
{% block content %}
<!-- Display an overlay -->
<div class="overlay"></div>

<!-- Create a container for book details -->
<div class="container-fluid">
    <div class="row">
        <!-- Define column layout for book image -->
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if book.image %}
                <!-- If book image exists, display it with a link to a larger version -->
                <a href="{{ book.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ book.image.url }}" alt="{{ book.title }}">
                </a>
                {% else %}
                <!-- If no book image exists, display a default image -->
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ book.title }}">
                </a>
                {% endif %}
            </div>
        </div>

        <!-- Define column layout for book details -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="book-details-container mb-5 mt-md-5">
                <!-- Display book name -->
                <p class="mb-0 text-black">{{ book.title }}</p>
                <!-- Display book price -->
                <p class="lead mb-0 text-left font-weight-bold">${{ book.price }}</p>

                <!-- Book category -->
                {% if book.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'books' %}?category={{ book.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ book.category.friendly_name }}
                    </a>
                </p>
                {% endif %}

                <!-- Display book rating if available -->
                {% if book.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ book.rating }} / 5</small>
                <hr>
                {% else %}
                <!-- Display "No Rating" if no rating is available -->
                <small class="text-muted">No Rating</small>
                <hr>
                {% endif %}

                <!-- Display edit and delete options for superusers -->
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_book' book.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_book' book.id %}">Delete</a>
                </small>
                {% endif %}

                <!-- Display book description -->
                <p class="mt-3">{{ book.description|linebreaks}}</p>

                <!-- Create a form to add the book to the cart -->
                <form class="form" action="{% url 'add_to_bag' book.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group input-group-{{ book.id }}">
                                    <div class="input-group-prepend">
                                        <button
                                            class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ book.id }}"
                                            data-item_id="{{ book.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <!-- Button to increment and decrement quantity -->
                                    <input class="form-control qty_input id_qty_{{ book.id }}" type="number"
                                        name="quantity" value="1" min="1" max="99" data-item_id="{{ book.id }}">
                                    <div class="input-group-append">
                                        <button
                                            class="increment-qty btn btn-black rounded-0 increment-qty_{{ book.id }}"
                                            data-item_id="{{ book.id }}" aria-label="Increment quantity button">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <!-- Display a link to keep shopping and a button to add to the cart -->
                            <a href="{% url 'books' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5"
                                value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <hr>
                <!-- Display a link to check reviews -->
                <div class="container ml-0 text-left">
                    <div class="row">
                        <strong>Check our <a href="{% url 'reviews' %}" class="text-danger">REVIEWS!</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'books/includes/quantity_input_script.html' %}
{% endblock %}