{% extends "base.html" %}
{% load static %}

<!-- Edit book -->
<div class="overlay"></div>
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<!-- To edit a book -->
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Book Management</h2>
            <h5 class="text-muted">Edit a book</h5>
            <hr>
        </div>
    </div>

<!-- Edit book container -->
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <!-- Edit book form -->
            <form method="POST" action="{% url 'edit_book' book.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right mb-4">
                    <a class="btn main-clr-thm" href="{% url 'books' %}">Cancel</a>
                    <button class="btn main-clr-thm" type=" submit">Update Book Details</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}